local.properties
**/build

**/Pods
ios/Khrysalis.xcworkspace
*.xcworkspace
**/xcuserdata
**.iml
**.iws
**/.idea
**/.gradle
*.apk
*.class

plugin/out
**/node_modules

**/testDataOut/**/*.shared.ts
**/testDataOut/**/*.shared.swift
plugin/src/main/resources/compiler-plugins/**